<!DOCTYPE html>
<html>

<head>
<title>Homepage</title>
</head>

<body>
	<div class="topnav">
		<a class="active" th:href="@{/}">HOME</a> <a th:href="@{/table}">TABLE</a>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div>
		<form th:method="post" th:object="${ticket}" th:action="@{/submitItem}">
			<label for="scity">Select city</label>
			<select class="select" th:field="*{city}">
				<option style="color: blue" value="">Choose City</option>
				<option th:each="iterator : ${cities}" th:text="${iterator}" th:value="${iterator}"></option>

			</select> <br> <br> 
			
			<label for="seatcat">Choose Seat Category</label>
			<select class="select" th:field="*{category}">
				<option style="color: blue" value="">Category</option>
				<option th:each="iterator : ${categories}" th:text="${iterator}" th:value="${iterator}" ></option>
			</select> <br> <br>
			
			<label for="ticketnumb">Number of tickets</label>
			<select class="select" th:field="*{ticketNumb}">
				<option style="color: blue" value="">Ticket number</option>
				<option th:each="iterator : ${ticketnumber}" th:text="${iterator}" th:value="${iterator}" ></option>
			</select> <br> <br> 
			
			<label for="totalprice">Total price:</label> 
			<input type="text" id="totalprice" name="totalprice" th:field="*{totalPrice}">
			<br> <br> 
			
			<label for="fname">First name:</label> 
			<input type="text" id="fname" name="fname" th:field="*{firstname}">
			<br> <br> 
			
			<label for="lname">Last name:</label> 
			<input type="text" id="lname" name="lname" th:field="*{lastname}">
			<br> <br> 
			
			<label for="idnum">ID number:</label> 
			<input type="text" id="idnum" name="idnum" th:field="*{id}">
			<br> <br> 
			
			<input type="submit" value="Submit">
		</form>
	</div>
</body>

</html>